	nradio,wt9103)
		ucidef_set_led_default "power" "POWER" "hc:blue:status" "1"
		ucidef_set_led_netdev "wifi" "WIFI" "hc:blue:wifi" "phy1-ap0" "link"
		ucidef_set_led_netdev "5g" "5G" "hc:blue:cmode5" "eth1" "link"
		;;