	nradio,wt9103)
		lan_mac=$(mtd_get_mac_ascii bdinfo "fac_mac ")
		[ -n "$lan_mac" ] || lan_mac=$(mtd_get_mac_binary factory 0x4)
		[ -n "$lan_mac" ] || lan_mac=$(cat /sys/class/net/eth0/address)
		wan_mac=$(macaddr_add "$lan_mac" 1)
		label_mac=$lan_mac
		;;
