	nradio,wt9103)
		hw_mac_addr=$(mtd_get_mac_ascii bdinfo "fac_mac ")
		[ "$PHYNBR" = "0" ] && echo "$hw_mac_addr" > /sys${DEVPATH}/macaddress
		[ "$PHYNBR" = "1" ] && macaddr_setbit_la $hw_mac_addr > /sys${DEVPATH}/macaddress
		;;