	nradio,wt9103)
		local hw_mac=""
		hw_mac=$(mtd_get_mac_ascii bdinfo fac_mac 2>/dev/null)
		[ -n "$hw_mac" ] && [ "$hw_mac" != "00:00:00:00:00:00" ] || \
			hw_mac=$(mtd_get_mac_ascii bdinfo "fac_mac ")
		[ -n "$hw_mac" ] && [ "$hw_mac" != "00:00:00:00:00:00" ] || \
			hw_mac=$(macaddr_random)
		[ "$PHYNBR" = "0" ] && macaddr_add "$hw_mac" 2 > /sys${DEVPATH}/macaddress
		[ "$PHYNBR" = "1" ] && macaddr_add "$hw_mac" 3 > /sys${DEVPATH}/macaddress
		;;
