.gitattributes text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.js text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.mk text eol=lf
*.dts text eol=lf
*.yml text eol=lf
*.snippet text eol=lf
patches/files/etc/config/* text eol=lf
patches/files/etc/init.d/* text eol=lf
patches/files/bin/* text eol=lf
patches/files/sbin/* text eol=lf
patches/files/usr/bin/* text eol=lf
patches/files/usr/share/modem/moimei binary
patches/files/usr/share/modem/mopdu binary
patches/files/bin/sendat binary
patches/sendat binary
